#app > .layout.landing

	> article
		text-align center
		> p
			font-size 40px
			text-align center
			margin 0
			padding 1em 0
			position relative
			z-index 1
			display inline-block
			> b
				font-weight 700
			> .facebook
				background-color #3B5998
				color white
				padding 20px 30px
				font-size 20px
				font-weight bold
			&.map
				position initial
