<section class="venues details">
	<article class="venue">
		<header></header>
		<p>Recent merges</p>
		<ol>
			{{#each properties.checkins}}
			<li>
				<p>{{message}}</p>
				<p>{{created_time}}</p>
				<ul>
					<li>
						{{#with from}}
						<a href="https://www.facebook.com/{{id}}" target="_blank">
							<img src="https://graph.facebook.com/{{id}}/picture" />
							<span class="name">{{name}}</span>
						</a>
						{{/with}}
					</li>
					{{#each with_tags.data}}
					<li>
						<a href="https://www.facebook.com/{{id}}" target="_blank">
							<img src="https://graph.facebook.com/{{id}}/picture" />
							<span class="name">{{name}}</span>
						</a>
					</li>
					{{/each}}
				</ul>
			</li>
			{{/each}}
		</ol>
	</article>
</section>
