<div class="settings facebook">
	<h1>
		DevMerge
		<span class="pronunciation">dif-murj</span>
	</h1>
	<p class="description">
		<span class="type">noun</span>
		<span class="meaning">Emergent co-working venue for developers.</span>
		<span class="example">Example: My friend was in the zone at our devmerge yesterday.</span>
	</p>

	<p class="cta">
		<button class="login">Sign in with Facebook</button>
	</p>

	<h2>Why DevMerge?</h2>
	<p>Surround yourself with other coders and work in stimulating environments. DevMerge exploits peer-pressure as a productivity hack.</p>

	<h2>How do I start?</h2>
	<p>Check the map to find places others are working at right now. Co-working spaces, airport terminals, your nearest Starbucks, etc. Go join the merge!</p>

	<h2>How can I publish my DevMerge?</h2>
	<p>It just takes a few easy steps.</p>
	<ol>
		<li>Sign in with Facebook to get listed on the map.</li>
		<li>Check in on Facebook with the <code>#devmerge</code> hashtag.</li>
		<li><i>(Optional)</i> Tag friends in your check in.</li>
	</ol>
	<p>Note: It may take a few minutes for new merges to appear on the map.</p>
</div>
