#app .checkins.map
	background black
	position absolute
	top 0
	right 0
	bottom 0
	left 0
	.leaflet-control-zoom
		transform scale(2)
		transform-origin top left
		box-shadow none
		border 1px solid black
	.leaflet-control-attribution
		pointer-events none

@media (max-width: 768px)
	#app .checkins.map
		.leaflet-control-zoom
			transform scale(1.5)
