#app .checkins.map
	background black
	position relative
	width 100%
	height 100%

	.leaflet-top,
	.leaflet-bottom
		transform scale(2)
	.leaflet-top.leaflet-left
		transform-origin top left
	.leaflet-top.leaflet-right
		transform-origin top right
	.leaflet-bottom.leaflet-left
		transform-origin bottom left
	.leaflet-bottom.leaflet-right
		transform-origin bottom right

	.leaflet-control-attribution
		display none

	.leaflet-control-zoom
		border 1px solid black
		&:active
			border-color orange
		a:active:not(.leaflet-disabled)
			color orange

	.leaflet-control-locate
		&.requesting svg
			opacity 0.25
		&.active svg
			fill skyblue
		&.following svg
			fill orange

	.leaflet-control
		box-shadow none
		transition opacity 0.1s linear 0.25s
		&:not(.leaflet-control-zoom)
			border none
			a
				background-color transparent
		svg
			width 100%
			height 100%
			stroke black
			stroke-width 20px
			fill white
		&:hover:not(.active) svg
			fill #f4f4f4
		&:active svg
			stroke orange

	a.leaflet-active
		outline none

	.leaflet-marker-icon
		border 5px solid silver
		border-radius 30px
		overflow hidden
		&.active
			border-color orange

.leaflet-dragging .leaflet-control
	opacity 0

@media (max-width: 768px)
	#app .checkins.map
		.leaflet-top,
		.leaflet-bottom
			transform scale(1.5)

		&.mute
			transition -webkit-filter 0.25s linear 0s
			-webkit-filter blur(10px) grayscale(75%)
			.leaflet-control
				opacity 0
