#app .venues.cover
	background-size cover
	background-repeat no-repeat
	background-position center
	margin 0
	height 100px
	a
		display block
		height 100%
		width 100%
		text-decoration none
		img
			margin 10px
			border 10px solid white
		.name
			overflow hidden
			text-overflow ellipsis
			white-space nowrap
			color black
