#app .venues.details
	position absolute
	top 0
	right 0
	bottom 0
	height 100%
	width 400px
	max-width calc(100% \- 73px)
	background-color rgba(white, 0.7)
	overflow auto
	-webkit-overflow-scrolling touch

	.venue
		height 100%
		overflow auto
		-webkit-overflow-scrolling touch
