#app .venues.details
	position absolute
	top 0
	right 0
	bottom 0
	height 100%
	width 400px
	max-width 100%
	background-color rgba(white, 0.5)
	overflow auto
	-webkit-overflow-scrolling touch
	z-index 10000

	.venue
		height 100%
		overflow auto
		-webkit-overflow-scrolling touch
		position relative

		.close
			display inline-block
			width 35px
			height 35px
			position absolute
			right 0
			top 0
			z-index 20000
			svg
				stroke black
				stroke-width 20px
				fill white
			&:hover svg
				fill #f4f4f4
			&:active svg
				stroke orange

	&.reveal
		animation-duration 0.25s
		animation-name reveal-venue
		transform-origin center left

@keyframes reveal-venue
	0%
		opacity 0.5
		transform translateX(100px)
	100%
		transform translateX(0)
