#app .venues.details
	position absolute
	top 0
	right 0
	bottom 0
	height 100%
	width 400px
	max-width 100%
	background-color rgba(white, 0.7)
	overflow auto
	-webkit-overflow-scrolling touch
	z-index 10000

	.venue
		height 100%
		overflow auto
		-webkit-overflow-scrolling touch

	&.reveal
		animation-duration 0.25s
		animation-name reveal-venue
		transform-origin center left

@keyframes reveal-venue
	0%
		opacity 0.5
		transform translateX(100px)
	100%
		transform translateX(0)
